.l-sidebar{
    padding-left: 46px;
    @include tab{
        padding-top: 100px;
    }
    >p{
        display: block;
        font-size: 34px;
        font-weight: 600;
        color: #707070;
        margin-top: 82px;
        margin-bottom: 90px;
        @include tab{
            display: none;
        }
    }
    ul{
        li{
            padding-bottom: 15px;
            font-size: 24px;
            >a{
                color: #707070;
                &:hover{
                    color: #fff;
                }
            }
            ul{
                padding-top: 45px;
                padding-left: 20px;
                li{
                    font-size: 20px;
                    padding-bottom: 30px;
                    >a{
                        color: #707070;
                        &:hover{
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}